:root {
    --blu: #1ae5f7;
    --red: rgb(224, 24, 24);
    --gray:rgb(173, 173, 173);
    --blk: rgb(90, 90, 90);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: sans-serif;
}

/* navbar section start  */
.header{
    background-color: var(--gray);
}
.mk-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #151617; */
    padding: 1rem 1.5rem;
}

.hamburger{
    display: none;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}
.mk-digital-clock{
    font-size: 25px;
    text-align: center;
}
.mk-nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mk-nav-item{
    list-style: none;
    margin-left: 3rem;
}

.mk-nav-link{
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

.mk-nav-link:hover{
    color: red;
}

.nav-logo{
    font-size: 30px;
    font-weight: 500;
    color: white;
}

/* navbar section end  */


/* live section start  */
.mk-row{
    width: 100%;
    height: 100vh;
}
.mk-home-col1 h1 , .mk-home-col2 h1{
    margin-top: 15px;
    margin-bottom: 20px;
}
.mk-home-col1 p , .mk-home-col2 p{
    font-size: 25px;
} 












/* for responsive nav bar  */
@media only screen and (max-width: 668px){
    .mk-nav-menu{
        position: fixed;
        left: -100%;
        top: 0.5rem;
        flex-direction: column;
        background-color: #1a1919c9;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        transition: 0.3s;

    }

    .mk-nav-menu.active{
        left: 0;
    }

    .mk-nav-item{
        margin: 2.5rem 0;

    }
    .mk-nav-link{
        color: #fff;
    }
    .mk-nav-link:hover{
        color: var(--blu);
    }

    .hamburger{
        display: block;
        cursor: pointer;
    }
    .bar{
        background-color: #000;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

